src/main/resources/META-INF/custom.xsd

<?xml version = "1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.xuziyang.com/schema/custom"
           targetNamespace="http://www.xuziyang.com/schema/custom"
           elementFormDefault="qualified">

    <xsd:element name="student">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="age" type="xsd:integer" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>

